/*Custom styles here*/
body {
  width: 40%;
  margin: auto 0;
  font-family: Merriweather;
  font-size: 20px;
}

div.panel-heading {
  text-align: center;
}

form {
  border: 1px solid #ccc;
  padding: 15px;
}

.form-control {
  font-size: 20px;
}

ul.list-group, .list-group-item {
  border: 1px solid #ccc;
}

.form-control.image {
  height: 160px;
}

.form-control.image-input {
  height: 34px;
}

.edit, .delete, #create {
  margin: 5px;
  font-size: 16px;
}

.form-group {
  padding: 10px;
  display: inline;
  width: 100%;
}
