/*Custom styles here*/
body {
  font-family: Merriweather;
  font-size: 20px;
}

div.panel-heading {
  text-align: center;  
}

ul.form-horizontal {
  margin: 10px;
  padding: 0;
}

.form-control {
  font-size: 20px;
}

ul.list-group, .list-group-item {
  border: 1px solid #ccc;
}

.form-control.image {
  height: 160px;
}

.form-control.image-input {
  height: 34px;
}

.edit, .delete, #create {
  margin: 5px;
  font-size: 16px;
}

.form-group {
  padding: 10px;
  display: inline;
  width: 100%;
}

#create {
  margin-left: 550px;
}